.angle {
  width: 30px;
  height: 30px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  float: left;
}

.gardens {
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../images/chalkboard-bg.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 10;
}

.indent {
  margin-left: 5%;
}

.well {
  background-color: #FFFFFE;
  border-radius: 0;
}

#hamburger {
	color: #FFFFEE;
	font-size: 2em;
}
