<<<<<<< HEAD
/*.area {
  fill: #ffd27f;
  stroke-width: 0;
}*/

.sun {
  fill: #ffd180;
  stroke-width: 0;

}

.water {
  fill: #80d8ff;
  stroke-width: 0;

}

.soil {
  fill: #ccff90;
  stroke-width: 0;

}

.container {
  border: 1px solid black;
  padding: 0;
}
.axis text {
  font: 10px sans-serif;
  fill: grey;
}

.axis line,
.axis path {
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges;
}

.x.axis path {
=======


.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}
.tick
{
    stroke-dasharray: 1, 2;
}
.bar
{
    fill: FireBrick;
>>>>>>> 53258bb388fe7fa9ad5da7265f169c439ee82666
}


/*signup navbar*/
.navbar {
  font-family: 'Open Sans', sans-serif;
  border-radius: 0;
  margin: auto;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: red;
}

/*signup page*/
.signup {
  font-family: 'Lora', serif;
  font-size: 16px;
  margin: auto;
  background-image: url("../images/signup-plant.jpg");
  background-position: 15% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: 600px;
  /* help me here !*/
}

.signup h1 {
  text-align: center;
  padding-top: 10px;
}

.signup label {
  color: gray;
}

.btn-signup {
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  background: #26961A;
  color: white;
  padding: 10px
}

/*general css*/

.btn {
  border-radius: 0;
}

.gradient-black {
  background: #228617;
  background: -webkit-linear-gradient(right, #228617 , #49D239); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #228617, #49D239); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #228617, #49D239); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #228617 , #49D239); /* Standard syntax */
}

form {
  border-radius: 0;
}
