<div uib-dropdown class="dropdown text-right" ng-controller="NavCtrl">
   <a href="#" uib-dropdown-toggle class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
   <ul class="dropdown-menu">
       <li><a href="#">Action</a></li>
       <li><a ng-click-"addGarden()">New Garden</a></li>
       <li><a href="#">Settings</a></li>
       <li><a ng-click="logout()">Logout</a></li>
   </ul>
</div>

<div class="well" ng-repeat="garden in gardens">
  <h1>{{garden}}</h1>
  <a ng-href="/gardens/{{garden._id}}">Permalink</a>
  <a ng-click="deletegarden(garden, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-right"></a>
</div>
