<div class="login">
  <form ng-submit="userAction()">
    <legend>Login</legend>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control"  id="email" placeholder="Email" ng-model="user.email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" ng-model ="user.password">
    </div>
      <hr>
      <a ng-click="redirect()">
        Don't have an account? Sign Up.
      </a>
      <br />
      <br />
    <button type="submit" class="btn btn-primary" ng-click="close()">Log In</button>
  </form>
</div>