<div class="gradient-black" ng-include="'app/views/signup-navbar.html'"></div>

<div class="signup">
  <div class="col-sm-2 col-md-4"></div>

  <div class="container col-sm-8 col-md-5 center-div">
    <form ng-submit="userAction()">
      <br />
      <h1> Sign Up </h1>
      <br />
      <div class="form-group" ng-hide="login">
        <label class="hidden" for="name">Name</label>
        <input type="name" class="form-control text-field" name="name" id="name" placeholder="Name" ng-model="user.name">
      </div>
      <div class="form-group">
        <label class="hidden" for="email">Email</label>
        <input type="email" class="form-control text-field" name="email" id="email" placeholder="Email Address" ng-model="user.email">
      </div>
      <div class="form-group">
        <label class="hidden" for="password">Password</label>
        <input type="password" class="form-control text-field" name="password" id="password" placeholder="Decide on a secure password!" ng-model ="user.password">
      </div>
      <button type="submit" class="btn btn-signup pull-right">Sign Up!</button>
    </form>
    <br />
    <br />
    <p>
    <hr>
      By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use. Others will be able to find you by email or phone number when provided.
    </p>
  </div>
  <div class="col-sm-2 col-md-3"></div>
</div>